## FreeCodeCamp - Data Analysis with Python
### Project 2 : Demographic Data Analyzer

In [1]:
import pandas as pd

In [3]:
# Read data from file
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [5]:
# What is the average age of men?
average_age_men = round(df[df['sex'] == 'Male']['age'].mean(), 1)
average_age_men

39.4

In [6]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = round(((df.education.values == 'Bachelors').sum() / len(df)) * 100, 1)
percentage_bachelors

16.4

In [8]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?
# with and without `Bachelors`, `Masters`, or `Doctorate`
adv_ed = ['Bachelors', 'Masters', 'Doctorate']
higher_education = df[df['education'].isin(adv_ed)]
higher_education.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K

In [9]:
lower_education = df[~df['education'].isin(adv_ed)]
lower_education.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K

In [10]:
# percentage with salary >50K
higher_education_rich = round((higher_education['salary'] == '>50K').sum() / len(higher_education) * 100, 1)
lower_education_rich = round((lower_education['salary'] == '>50K').sum() / len(lower_education) * 100, 1)
higher_education_rich, lower_education_rich

(46.5, 17.4)

In [12]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [13]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = (df['hours-per-week'] == min_work_hours).sum()
rich_percentage = ((df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')).sum() / num_min_workers * 100
rich_percentage

10.0

In [14]:
# What country has the highest percentage of people that earn >50K?
highest_country = (
    df[["salary", "native-country"]]
    .groupby("native-country")
    .apply(lambda g: g.loc[g["salary"] == ">50K"].size / g.size * 100)
)
highest_earning_country = highest_country.idxmax()
highest_earning_country_percentage = round(highest_country.max(), 1)
highest_earning_country, highest_earning_country_percentage

('Iran', 41.9)

In [15]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = (
    df.loc[(df["native-country"] == "India") & (df["salary"] == ">50K")]["occupation"]
    .value_counts()
    .idxmax()
)
top_IN_occupation

'Prof-specialty'